<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Movie App</title>
 <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div th:fragment="header">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/movies/">Movie App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/movies/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/movies/create">Create</a>
     
    </ul>
  </div>
</nav>
</div>
<!-- Common footer fragment -->
<div th:fragment="footer">
	<h5 style="color:black; text-align: center; bottom: 0; width:100%;">Movie App</h5>
</div>

</body>
</html>