<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div layout:fragment="content" class="container mt-5">
        <h2 class="text-center" th:text="${title}">Movies</h2><br/>

        <div class="row">
            <div class="col-12" th:if="${movies.empty}">
                <div class="alert alert-warning text-center">No Movies Available</div>
            </div>

            <div class="col-md-4 mb-4" th:each="movie : ${movies}">
                <div class="card h-100">
                    <img class="card-img-top" th:src="${movie.Image}" alt="Movie Image">
                    <div class="card-body">
                        <h5 class="card-title text-center" th:text="${movie.Title}">Movie Title</h5>
                        <p class="card-text text-center" th:text="${movie.Genre}">Genre</p>
                    </div>
                    <div class="card-footer text-center">
                        <span class="badge badge-primary" th:text="${movie.Rating}">Rating</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>